<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Hide .html extension
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME}\.html -f
  RewriteRule ^([^\.]+)$ $1.html [NC,L]

  # Redirect .html requests to clean URLs
  RewriteCond %{THE_REQUEST} /([^.]+)\.html [NC]
  RewriteRule ^[^.]+\.html$ /%1 [NC,L,R=301]
</IfModule>
